.input{
    margin-bottom: 15px;
    text-align: left;
    margin-bottom: 15px;
    & label{
        display: block;
        font-weight: bold;
        margin-bottom: 3px;
        padding: 0;

    }
    & input{
        display: block;
        border: 1px solid #bebebe;
        padding: 7px;
        width: 100%;
        outline: none;
        transition: .3s ease-in-out;
    }
    & span{
        color: #f01f30;
        font-size: 12px;
        font-weight: bold;
    }
    &.invalid input{
        border-color: #f01f30;
    }

}