.menu-toggle{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in;
    z-index: 70;
    &:hover{
        // opacity: .7;
        color: yellow;
    }
    &.open{
        left: 320px;
    }
}